* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #36b7d6;
  font-family: 'Fredoka One', cursive;
}

header {
  height: 120px;
  line-height: 120px;
}
header > h1 {
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px black;
}
